openapi: 3.0.3
info:
  title: IuranKomplek API
  description: |
    API untuk aplikasi manajemen iuran komplek apartemen. 
    Menyediakan endpoints untuk data pengguna, keuangan, vendor, work order, dan pembayaran.
    
    Untuk detail implementasi, lihat [API Documentation](API.md).
    
    ## Integration Patterns
    - Circuit Breaker pattern for service resilience
    - Exponential backoff retry logic
    - Rate limiting (10 req/sec, 60 req/min)
    - Request ID tracing
    - Network error handling with typed errors
    
    ## Authentication
    API supports multiple authentication methods:
    - API Key header (X-API-Key)
    - JWT Bearer token
    
    ## Response Format
    All responses follow consistent format with `data` field and optional metadata.
  version: 1.0.0
  contact:
    name: IuranKomplek Development Team
  license:
    name: Proprietary

servers:
  - url: https://api.apispreadsheets.com/data/QjX6hB1ST2IDKaxB/
    description: Production server
  - url: http://api-mock:5000/data/QjX6hB1ST2IDKaxB/
    description: Development server (Docker)

tags:
  - name: Users
    description: User and resident data management
  - name: Financial
    description: Financial records and iuran pemanfaatan
  - name: Vendors
    description: Vendor management
  - name: Work Orders
    description: Work order management
  - name: Payments
    description: Payment processing
  - name: Communication
    description: Announcements, messages, and community posts

paths:
  /users:
    get:
      tags:
        - Users
      summary: Get all users
      description: Mengambil data semua pengguna/warga komplek
      operationId: getUsers
      responses:
        '200':
          description: Successfully retrieved user list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /pemanfaatan:
    get:
      tags:
        - Financial
      summary: Get pemanfaatan iuran
      description: Mengambil data pemanfaatan iuran komplek
      operationId: getPemanfaatan
      responses:
        '200':
          description: Successfully retrieved pemanfaatan list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PemanfaatanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /vendors:
    get:
      tags:
        - Vendors
      summary: Get all vendors
      description: Mengambil daftar semua vendor
      operationId: getVendors
      responses:
        '200':
          description: Successfully retrieved vendor list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Vendors
      summary: Create new vendor
      description: Membuat vendor baru
      operationId: createVendor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVendorRequest'
      responses:
        '201':
          description: Vendor created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleVendorResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  /vendors/{id}:
    get:
      tags:
        - Vendors
      summary: Get vendor by ID
      description: Mengambil detail vendor berdasarkan ID
      operationId: getVendor
      parameters:
        - $ref: '#/components/parameters/VendorId'
      responses:
        '200':
          description: Successfully retrieved vendor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleVendorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - Vendors
      summary: Update vendor
      description: Update data vendor
      operationId: updateVendor
      parameters:
        - $ref: '#/components/parameters/VendorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVendorRequest'
      responses:
        '200':
          description: Vendor updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleVendorResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /work-orders:
    get:
      tags:
        - Work Orders
      summary: Get all work orders
      description: Mengambil daftar semua work order
      operationId: getWorkOrders
      responses:
        '200':
          description: Successfully retrieved work order list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkOrderResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Work Orders
      summary: Create work order
      description: Membuat work order baru
      operationId: createWorkOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkOrderRequest'
      responses:
        '201':
          description: Work order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleWorkOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  /work-orders/{id}:
    get:
      tags:
        - Work Orders
      summary: Get work order by ID
      description: Mengambil detail work order berdasarkan ID
      operationId: getWorkOrder
      parameters:
        - $ref: '#/components/parameters/WorkOrderId'
      responses:
        '200':
          description: Successfully retrieved work order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleWorkOrderResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - Work Orders
      summary: Assign vendor to work order
      description: Assign vendor ke work order
      operationId: assignVendorToWorkOrder
      parameters:
        - $ref: '#/components/parameters/WorkOrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignVendorRequest'
      responses:
        '200':
          description: Vendor assigned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleWorkOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /work-orders/{id}/status:
    put:
      tags:
        - Work Orders
      summary: Update work order status
      description: Update status work order
      operationId: updateWorkOrderStatus
      parameters:
        - $ref: '#/components/parameters/WorkOrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkOrderStatusRequest'
      responses:
        '200':
          description: Status updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleWorkOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /payments/initiate:
    post:
      tags:
        - Payments
      summary: Initiate payment
      description: Memulai proses pembayaran
      operationId: initiatePayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiatePaymentRequest'
      responses:
        '200':
          description: Payment initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  /payments/{id}/status:
    get:
      tags:
        - Payments
      summary: Get payment status
      description: Mengambil status pembayaran
      operationId: getPaymentStatus
      parameters:
        - $ref: '#/components/parameters/PaymentId'
      responses:
        '200':
          description: Successfully retrieved payment status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentStatusResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /payments/{id}/confirm:
    post:
      tags:
        - Payments
      summary: Confirm payment
      description: Mengkonfirmasi pembayaran
      operationId: confirmPayment
      parameters:
        - $ref: '#/components/parameters/PaymentId'
      responses:
        '200':
          description: Payment confirmed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentConfirmationResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

  /announcements:
    get:
      tags:
        - Communication
      summary: Get announcements
      description: Mengambil daftar pengumuman komunitas
      operationId: getAnnouncements
      responses:
        '200':
          description: Successfully retrieved announcements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Announcement'

  /messages:
    get:
      tags:
        - Communication
      summary: Get messages
      description: Mengambil pesan untuk pengguna tertentu
      operationId: getMessages
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: Successfully retrieved messages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Message'
    post:
      tags:
        - Communication
      summary: Send message
      description: Mengirim pesan baru
      operationId: sendMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
      responses:
        '200':
          description: Message sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  /messages/{receiverId}:
    get:
      tags:
        - Communication
      summary: Get messages with user
      description: Mengambil percakapan dengan pengguna tertentu
      operationId: getMessagesWithUser
      parameters:
        - name: receiverId
          in: path
          required: true
          description: ID penerima pesan
          schema:
            type: string
        - name: senderId
          in: query
          required: true
          description: ID pengirim pesan
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved conversation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Message'

  /community-posts:
    get:
      tags:
        - Communication
      summary: Get community posts
      description: Mengambil daftar postingan komunitas
      operationId: getCommunityPosts
      responses:
        '200':
          description: Successfully retrieved community posts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommunityPost'
    post:
      tags:
        - Communication
      summary: Create community post
      description: Membuat postingan komunitas baru
      operationId: createCommunityPost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommunityPostRequest'
      responses:
        '201':
          description: Post created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityPost'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

components:
  schemas:
    UserResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DataItem'

    DataItem:
      type: object
      required:
        - first_name
        - last_name
        - email
        - alamat
        - iuran_perwarga
        - total_iuran_rekap
        - jumlah_iuran_bulanan
        - total_iuran_individu
        - pengeluaran_iuran_warga
        - pemanfaatan_iuran
      properties:
        first_name:
          type: string
          description: Nama depan pengguna
          maxLength: 50
        last_name:
          type: string
          description: Nama belakang pengguna
          maxLength: 50
        email:
          type: string
          format: email
          description: Email pengguna
          maxLength: 100
        alamat:
          type: string
          description: Alamat lengkap
          maxLength: 200
        iuran_perwarga:
          type: integer
          format: int64
          description: Jumlah iuran per warga per bulan
          minimum: 0
        total_iuran_rekap:
          type: integer
          format: int64
          description: Total rekap iuran
          minimum: 0
        jumlah_iuran_bulanan:
          type: integer
          format: int64
          description: Jumlah iuran bulanan
          minimum: 0
        total_iuran_individu:
          type: integer
          format: int64
          description: Total iuran individu
          minimum: 0
        pengeluaran_iuran_warga:
          type: integer
          format: int64
          description: Jumlah pengeluaran
          minimum: 0
        pemanfaatan_iuran:
          type: string
          description: Deskripsi pemanfaatan
          maxLength: 100
        avatar:
          type: string
          format: uri
          description: URL foto profil
          maxLength: 500

    PemanfaatanResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DataItem'

    VendorResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Vendor'

    Vendor:
      type: object
      required:
        - id
        - name
        - contactPerson
        - phoneNumber
        - email
        - specialty
        - address
        - licenseNumber
        - insuranceInfo
        - contractStart
        - contractEnd
        - isActive
      properties:
        id:
          type: string
          description: Unique vendor ID
        name:
          type: string
          description: Nama vendor/jasa
          maxLength: 100
        contactPerson:
          type: string
          description: Nama kontak person
          maxLength: 50
        phoneNumber:
          type: string
          description: Nomor telepon
          maxLength: 20
        email:
          type: string
          format: email
          description: Email vendor
          maxLength: 100
        specialty:
          type: string
          description: Spesialisasi vendor
          maxLength: 50
        address:
          type: string
          description: Alamat vendor
          maxLength: 200
        licenseNumber:
          type: string
          description: Nomor lisensi
          maxLength: 50
        insuranceInfo:
          type: string
          description: Informasi asuransi
          maxLength: 200
        contractStart:
          type: string
          format: date
          description: Tanggal mulai kontrak
        contractEnd:
          type: string
          format: date
          description: Tanggal berakhir kontrak
        isActive:
          type: boolean
          description: Status aktif vendor
        rating:
          type: number
          format: float
          description: Rating vendor
          minimum: 0
          maximum: 5

    SingleVendorResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/Vendor'

    CreateVendorRequest:
      type: object
      required:
        - name
        - contactPerson
        - phoneNumber
        - email
        - specialty
        - address
        - licenseNumber
        - insuranceInfo
        - contractStart
        - contractEnd
      properties:
        name:
          type: string
        contactPerson:
          type: string
        phoneNumber:
          type: string
        email:
          type: string
          format: email
        specialty:
          type: string
        address:
          type: string
        licenseNumber:
          type: string
        insuranceInfo:
          type: string
        contractStart:
          type: string
          format: date
        contractEnd:
          type: string
          format: date

    UpdateVendorRequest:
      type: object
      required:
        - name
        - contactPerson
        - phoneNumber
        - email
        - specialty
        - address
        - licenseNumber
        - insuranceInfo
        - contractStart
        - contractEnd
        - isActive
      properties:
        name:
          type: string
        contactPerson:
          type: string
        phoneNumber:
          type: string
        email:
          type: string
          format: email
        specialty:
          type: string
        address:
          type: string
        licenseNumber:
          type: string
        insuranceInfo:
          type: string
        contractStart:
          type: string
          format: date
        contractEnd:
          type: string
          format: date
        isActive:
          type: boolean

    WorkOrderResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/WorkOrder'

    WorkOrder:
      type: object
      required:
        - id
        - title
        - description
        - category
        - priority
        - status
        - propertyId
        - reporterId
        - estimatedCost
        - createdAt
      properties:
        id:
          type: string
          description: Unique work order ID
        title:
          type: string
          description: Judul work order
          maxLength: 100
        description:
          type: string
          description: Deskripsi detail
          maxLength: 500
        category:
          type: string
          enum: [ELEKTRIK, PLUMBING, STRUKTUR, AC, KEAMANAN, KEBERSIHAN, LAINNYA]
          description: Kategori work order
        priority:
          type: string
          enum: [LOW, MEDIUM, HIGH, CRITICAL]
          description: Prioritas work order
        status:
          type: string
          enum: [PENDING, ASSIGNED, IN_PROGRESS, COMPLETED, CANCELLED]
          description: Status work order
        propertyId:
          type: string
          description: ID properti/ruangan
        reporterId:
          type: string
          description: ID pelapor
        vendorId:
          type: string
          description: ID vendor yang ditugaskan
        estimatedCost:
          type: number
          format: double
          description: Estimasi biaya
          minimum: 0
        scheduledDate:
          type: string
          format: date-time
          description: Tanggal terjadwal
        completedAt:
          type: string
          format: date-time
          description: Tanggal selesai
        createdAt:
          type: string
          format: date-time
          description: Tanggal dibuat
        updatedAt:
          type: string
          format: date-time
          description: Tanggal diupdate
        notes:
          type: string
          description: Catatan tambahan
          maxLength: 500
        attachments:
          type: array
          items:
            type: string
          description: URL attachment

    SingleWorkOrderResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/WorkOrder'

    CreateWorkOrderRequest:
      type: object
      required:
        - title
        - description
        - category
        - priority
        - propertyId
        - reporterId
        - estimatedCost
      properties:
        title:
          type: string
        description:
          type: string
        category:
          type: string
          enum: [ELEKTRIK, PLUMBING, STRUKTUR, AC, KEAMANAN, KEBERSIHAN, LAINNYA]
        priority:
          type: string
          enum: [LOW, MEDIUM, HIGH, CRITICAL]
        propertyId:
          type: string
        reporterId:
          type: string
        estimatedCost:
          type: number
          format: double
        attachments:
          type: array
          items:
            type: string
          default: []

    AssignVendorRequest:
      type: object
      required:
        - vendorId
      properties:
        vendorId:
          type: string
        scheduledDate:
          type: string
          format: date-time

    UpdateWorkOrderStatusRequest:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [PENDING, ASSIGNED, IN_PROGRESS, COMPLETED, CANCELLED]
        notes:
          type: string

    PaymentResponse:
      type: object
      required:
        - transactionId
        - status
        - paymentMethod
        - amount
        - currency
        - transactionTime
        - referenceNumber
      properties:
        transactionId:
          type: string
          description: Unique transaction ID
        status:
          type: string
          enum: [PENDING, COMPLETED, FAILED, REFUNDED]
          description: Status pembayaran
        paymentMethod:
          type: string
          enum: [CREDIT_CARD, BANK_TRANSFER, E_WALLET, VIRTUAL_ACCOUNT]
          description: Metode pembayaran
        amount:
          type: string
          description: Jumlah pembayaran
        currency:
          type: string
          description: Mata uang
        transactionTime:
          type: integer
          format: int64
          description: Waktu transaksi (epoch timestamp)
        referenceNumber:
          type: string
          description: Nomor referensi

    PaymentStatusResponse:
      type: object
      required:
        - transactionId
        - status
        - amount
        - currency
        - updatedAt
      properties:
        transactionId:
          type: string
        status:
          type: string
          enum: [PENDING, COMPLETED, FAILED, REFUNDED]
        amount:
          type: string
        currency:
          type: string
        updatedAt:
          type: integer
          format: int64
          description: Waktu update terakhir (epoch timestamp)

    PaymentConfirmationResponse:
      type: object
      required:
        - transactionId
        - status
        - confirmationTime
      properties:
        transactionId:
          type: string
        status:
          type: string
          enum: [COMPLETED, FAILED]
        confirmationTime:
          type: integer
          format: int64
          description: Waktu konfirmasi (epoch timestamp)

    InitiatePaymentRequest:
      type: object
      required:
        - amount
        - description
        - customerId
        - paymentMethod
      properties:
        amount:
          type: string
          description: Jumlah pembayaran
        description:
          type: string
          description: Deskripsi pembayaran
          maxLength: 200
        customerId:
          type: string
          description: ID pelanggan
        paymentMethod:
          type: string
          enum: [CREDIT_CARD, BANK_TRANSFER, E_WALLET, VIRTUAL_ACCOUNT]
          description: Metode pembayaran

    Announcement:
      type: object
      required:
        - id
        - title
        - content
        - priority
        - createdAt
        - createdBy
      properties:
        id:
          type: string
          description: Unique announcement ID
        title:
          type: string
          description: Judul pengumuman
          maxLength: 100
        content:
          type: string
          description: Isi pengumuman
          maxLength: 1000
        priority:
          type: string
          enum: [LOW, MEDIUM, HIGH, URGENT]
          description: Prioritas pengumuman
        category:
          type: string
          description: Kategori pengumuman
        createdAt:
          type: string
          format: date-time
          description: Tanggal dibuat
        createdBy:
          type: string
          description: ID pembuat
        readBy:
          type: array
          items:
            type: string
          description: List user ID yang sudah membaca
        attachments:
          type: array
          items:
            type: string
          description: URL attachment

    Message:
      type: object
      required:
        - id
        - senderId
        - receiverId
        - content
        - timestamp
        - isRead
      properties:
        id:
          type: string
          description: Unique message ID
        senderId:
          type: string
          description: ID pengirim
        receiverId:
          type: string
          description: ID penerima
        content:
          type: string
          description: Isi pesan
          maxLength: 500
        timestamp:
          type: string
          format: date-time
          description: Waktu kirim
        isRead:
          type: boolean
          description: Status dibaca
        attachments:
          type: array
          items:
            type: string
          description: URL attachment

    SendMessageRequest:
      type: object
      required:
        - senderId
        - receiverId
        - content
      properties:
        senderId:
          type: string
        receiverId:
          type: string
        content:
          type: string

    CommunityPost:
      type: object
      required:
        - id
        - authorId
        - title
        - content
        - category
        - createdAt
        - likes
        - comments
      properties:
        id:
          type: string
          description: Unique post ID
        authorId:
          type: string
          description: ID penulis
        title:
          type: string
          description: Judul postingan
          maxLength: 100
        content:
          type: string
          description: Isi postingan
          maxLength: 1000
        category:
          type: string
          enum: [SARAN, KELUHAN, INFO, DISKUSI, LAINNYA]
          description: Kategori postingan
        createdAt:
          type: string
          format: date-time
          description: Tanggal dibuat
        updatedAt:
          type: string
          format: date-time
          description: Tanggal diupdate
        likes:
          type: integer
          description: Jumlah like
          minimum: 0
        likedBy:
          type: array
          items:
            type: string
          description: List user ID yang like
        comments:
          type: array
          items:
            type: object
          description: List komentar

    CreateCommunityPostRequest:
      type: object
      required:
        - authorId
        - title
        - content
        - category
      properties:
        authorId:
          type: string
        title:
          type: string
        content:
          type: string
        category:
          type: string
          enum: [SARAN, KELUHAN, INFO, DISKUSI, LAINNYA]

    ApiError:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Error message
        details:
          type: string
          description: Additional error details
        timestamp:
          type: integer
          format: int64
          description: Error timestamp (epoch)
        requestId:
          type: string
          description: Request ID for tracing

  parameters:
    UserId:
      name: userId
      in: query
      required: true
      description: ID pengguna
      schema:
        type: string

    VendorId:
      name: id
      in: path
      required: true
      description: ID vendor
      schema:
        type: string

    WorkOrderId:
      name: id
      in: path
      required: true
      description: ID work order
      schema:
        type: string

    PaymentId:
      name: id
      in: path
      required: true
      description: ID transaksi pembayaran
      schema:
        type: string

  responses:
    BadRequest:
      description: Bad request - invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    Unauthorized:
      description: Unauthorized - authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    Forbidden:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    ValidationError:
      description: Validation error - invalid input data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    Conflict:
      description: Conflict - resource already exists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    RateLimitExceeded:
      description: Too many requests - rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    ServiceUnavailable:
      description: Service temporarily unavailable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

security:
  - ApiKeyAuth: []
  - BearerAuth: []

securitySchemes:
  ApiKeyAuth:
    type: apiKey
    in: header
    name: X-API-Key
    description: API key authentication
  
  BearerAuth:
    type: http
    scheme: bearer
    bearerFormat: JWT
    description: JWT bearer token authentication
